#coreea1 {
  border-bottom: 1px gray solid;
}

#korea1 {
  float: left;
}

#korea2 {
  float: right;
}

#contact {
  padding-bottom: 10px;
  border-bottom: 1px gray solid;
}

#meniu {
  width: 720px;
}
