article h1 {
  font-size: 20px;

}

header img {
  float: left;
  margin-right: 10px;

}

nav {

  margin-bottom: 100px;

  border-bottom: 1px gray solid;

}

nav table {


  padding-top: 80px;
  border: none;

}

article {
  padding-bottom: 10px;
  border-bottom: 3px gray solid;

}

#coreea1 {
  border-bottom: 1px gray solid;
}

#korea1 {
  float: left;
}

#korea2 {
  float: right;
}

#contact {
  padding-bottom: 10px;
  border-bottom: 1px gray solid;
}

#meniu {
  width: 720px;
}
